/* *{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */
.main-compo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.heading{
  padding: 50px;
}
.main-segment{
  width: 100%;
  height: 75%;
  text-align: center;
}
.children-segment{
  border: 1px solid black;
}
.card-container{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  /* background-color: rgb(7, 1, 26); */
  
}

.card{
  margin: 15px;
  
  
 
}
.inp-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* #filled-basic{
  width: 600px;
} */
#add-btn{
  margin: 10px;
}
#img-div{
  width: 100%;
  height: 100%;
}
.profile-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#logout-div{

  width: 100%;
  height: 100%;
}

.each-card{
  background-color: rgb(50, 82, 131);
  /* background-color: rgb(112, 102, 158); */
  /* color: white; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.each-card p{
 
  /* color: white; */
  color: white;
 
}

.btns{
  display: flex;
  justify-content: space-between;
  background-color: rgb(197, 197, 216) ;
}
